@model IEnumerable<ShoppicaMVC.ViewModels.CategoryVM>

<div id="footer" class="container_12">
    <div id="footer_categories" class="clearfix">
        @for (int i = 0; i < 6; i++)
        {

        
   
            <div class="grid_2">
                <h2>@Model.ToList()[i].CategoryName</h2>
                <ul class="s_list_1">
                    @foreach (var altItem in Model.ToList()[i].InverseTop)
                    {
                        { <li><a href="">@altItem.CategoryName</a></li>}
                    }
               
                </ul>
            </div>
        }

        
        <div class="clear"></div>
        <div class="grid_12 border_eee"></div>
    </div>
            <div id="payments" class="right clearfix">
                <img src="images/payments/discover_straight_32px.png" alt="" />
                <img src="images/payments/american_express_straight_32px.png" alt="" />
                <img src="images/payments/moneybookers_straight_32px.png" alt="" />
                <img src="images/payments/paypal_straight_32px.png" alt="" />
                <img src="images/payments/visa_straight_32px.png" alt="" />
                <img src="images/payments/american_express_straight_32px.png" alt="" />
            </div>
            <p id="copy">&copy; Copyright 2021. Powered by <a class="blue" href="">Open Cart</a>.<br /> <a class="s_main_color" href="http://www.shoppica.net">Shoppica theme</a> made by <a href="http://www.themeburn.com">ThemeBurn.com</a></p>
        </div>
<!-- end of FOOTER -->
